#<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>SME SecuAware</h5>
                <p>Cybersecurity training for Kenyan small businesses</p>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}" class="text-white">Home</a></li>
                    <li><a href="{% url 'threat_alerts' %}" class="text-white">Threat Alerts</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-envelope"></i> info@secuaware.co.ke</li>
                    <li><i class="bi bi-phone"></i> +254 700 000000</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <small>&copy; {% now "Y" %} SME SecuAware. All rights reserved.</small>
        </div>
    </div>
            
</footer>
